.BuildControls {
    width: 100%;
    background-color: rgb(235, 162, 28);
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #CCC;
    margin: auto;
    padding: 10px 0;
}